<div style="
    position: relative;
  width:80%;
  margin:0 auto;
  height:75%;
	padding:10px;
	background-color:#efefef;
  ">
<img id="coverpic" style="margin:0 auto; display:block; width:90%;" src="https://firebasestorage.googleapis.com/v0/b/wedapp-f45b8.appspot.com/o/photosuppliers%2Fhall%2Fbellmer%2Fbanner_hatunot1-1680x460.jpg?alt=media&amp;token=b019e8e8-22df-477a-8ec9-8aa38c7eaf9e">
<div style="width:100%;border-bottom: 1px solid black;">
<div style="display:inline-block;width: 40%;height: 58px;text-align: center;font-size: 15px;/* font-weight: bold; */padding-top: 10px;vertical-align: bottom;" id="totalprice"><span id="priceitnow" style="
    display: block;
    color: #e84a48;
    font-weight: bold;
"></span> לאירוע</div>
<div style="display:inline-block;width: 48%;padding-top: 10px;border-left: 1px solid black;padding-left: 22px;font-size: 17px;margin-top: 10px; padding-bottom:20px;" id="">
<h2 id = "thename" style = "display:inline-block; font-size:17px !important" ></h2>
<img src = "" id = "profit" style = "    height: 48px;
    border-radius: 30px;
    display: inline-block;
vertical-align:middle !important; margin-left:10px;"/>
</div>
</div></div>
<div><button id="done" style = "   
        border-radius: 20px;
    display: block;
    outline: 0;
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px 30px;
    margin: 0 auto;
    font-size: 18px;
    width: 50%;
    margin-top: 35px;
    margin-bottom: 20px;
    ">המשך לקטגוריה הבאה</button></div>