<li>
<div style = "    width: 43%;
    float: right;">
<img class = "photo" style = "        height: 81px;
    width: 108px;
    float: right;
    margin-right: 20px;
    margin-top: 18px;" />
<br />
<button style = "   background-color: white;
    border: 2px solid #e84b41;
    border-radius: 41px;
    height: 25px;
    width: 89px;
    color: black;
    outline: 0;
    margin-top: 14px;
    position: relative;
    right: 23px;
    float: right;
" class = "contact">צור קשר</button>
<img src = "stylesheets/images/tick-inside-a-circle.png" style = "position: absolute;
    right: 61px;
    bottom: 36px;
    display:none;" />
	<span class = "hiddenone" style = "display:none; position:absolute;"></span>

	</div>
	<div style = "width:56%; padding-top:10px;"><h2 style = "text-align: right;
    display: block; cursor:pointer;" class = "hn"></h2>
	
		<img src = "stylesheets/images/stars.png" id = "stars"/>
		<p style = "    margin: 0;
    font-size: 13px;
    text-align: right;
    color: #9ba0a5;
    width: 85%;
    margin-left: auto;" class = "desc" dir = "rtl">
</p>
	</div>
	
</li>

<div style = "position: fixed;
    background-color: #e64b46;
    color: white;
    height: 0;
    width: calc(29% - 11px);
    bottom: 0; z-index:10; " id = "cont">
	<h2 style = "    display: block;
    float: right;
    margin-right: 16px;
    width: 77px;
    text-align: right;
    font-weight: normal;"></h2>
	<button style = "     color: black;
    background-color: white;
    border: 2px solid white;
    margin-top: 10px;
    outline: 0;
    font-size: 18px;
    height: 38px;
    border-radius: 129px;
    padding: 0 17px;
    margin-left: 29px;" class = "continuebutton">שלח פרטי התקשרות והמשך</button>
	</div>