<div style="
    text-align: center;
    position: relative;
    top: calc(50% - 154px);
">
<h2 style = "font-size:25px !important;">בחר טווח מחיר עבור</h2>
<h2 style="font-weight:bold; font-size:25px !important;color: #e74b46;" id="supn"></h2>
<button id="skip" style="
    display: block;
    outline: 0;
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px 30px;
    margin: 0 auto;
    font-size: 18px;
    width: 63%;
    margin-top: 35px;
    margin-bottom: 20px;
        border-radius: 20px;

    
">דלג, אין לנו צורך בזה</button>
<button id="done" style = "   
        border-radius: 20px;
    display: block;
    outline: 0;
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px 30px;
    margin: 0 auto;
    font-size: 18px;
    width: 63%;
    margin-top: 35px;
    margin-bottom: 20px;
    ">כבר סגרנו עם ספק בתחום זה</button>


</div>