<li style = "background-color:#efefef;">
<div style = "    width: 43%;
    float: right;">
<img class = "photo2" style = "        height: 81px;
    width: 108px;
    float: right;
    margin-right: 20px;
    margin-top: 18px;" />
<br />
<button style = "   background-color: #e84b41;
    border-radius: 41px;
    height: 25px;
    width: 89px;
    color: white;
    outline: 0;
    margin-top: 14px;
    position: relative;
    right: 23px;
    float: right;
	border:0;
" class = "contact2">סגרנו חוזה</button>
<br />
<h3 style = "    color: gray;
    margin: 0;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    float: right;
    position: relative;
    right: 32px;
    top: 6px;
 cursor:pointer;" class = "remove">הסר מהרשימה</h3>
	</div>
	<div style = "width:56%; padding-top:10px;"><h2 style = "text-align: right;
    display: block; cursor:pointer;" class = "hn2"></h2>
	
		<img src = "stylesheets/stars.png" id = "stars"/>
		<p style = "    margin: 0;
    font-size: 13px;
    text-align: right;
    color: #9ba0a5;
    width: 85%;
    margin-left: auto;" class = "desc2" dir = "rtl">
</p>
	</div>
		<span class = "hiddenone" style = "display:none; position:absolute;"></span>

</li>

