<form id = "logform">
<input type = "email" placeholder = "כתובת המייל שלך" id = "emailreg" class = "regtxt"/>
<input type = "password" placeholder = "הסיסמא שלך" id = "passreg" class = "regtxt"/>
<input type = "submit" value = "כנס לחשבונך" style = "      padding: 15px;
    border: 0;
    margin-left: auto;
    font-family: heb;
    display: block;
    margin-right: 55px;
    width: 162px;
    float: right;"/>
	<h1 style = "    margin: 0;
    float: left;
    margin-top: 15px;
    margin-left: 59px;
    font-size: 16px;
    text-decoration: underline; cursor:pointer;" class = "backbutton">חזור אחורה</h1>
</form>