<div id="log-form"><h2 id="head">הרשמה חינם</h2></div>
<button class="regbuttons" class="social" style="margin-top:0;" id = "facebooksignin">הרשמה דרך חשבון פייסבוק<img src="stylesheets/images/FACEBOOK.png"></button>
<button class="regbuttons" class="social" id="googlesignin">הרשמה דרך חשבון גוגל<img  src="stylesheets/images/google-logo.png"></button>
<h2 id="line" >
    <span>או</span>
    
</h2>
<button class="regbuttons" id="mailreg">הרשמה דרך חשבון אימייל</button>

<div id="have-acc" >
<h2>כבר יש לכם חשבון פעיל?</h2>
	<button id="login">כניסה</button>
</div>