<div style="
    text-align: center;
    position: relative;
    top: calc(37% - 154px);
">
<h2 style="font-size:25px !important;">הכניסו ספק בתחום</h2>
<h2 style="font-weight:bold;font-size:25px !important;margin-bottom: 50px;color: #e74b46;" id="supn"></h2>
<form id="updateit">
<div style = "margin-bottom:20px;">
<input type="text" style="
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    text-align: right;
    width: 184px;
 font-size:18px; padding-right:5px;" required><span style="   font-size: 18px;
    width: 60px;
    display: inline-block;
    margin-left: 29px; text-align:right;
">שם ספק</span>
</div>

<div style = "margin-bottom:20px;">
<input type="text" style="
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    text-align: right;
    width: 184px;
 font-size:18px; padding-right:5px;" required><span style="    font-size: 18px;
    width: 60px;
    display: inline-block;
    margin-left: 29px; text-align:right;
">מיקום</span>
</div>
<div style = "margin-bottom:20px;">
<input type="text" style="
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    text-align: right;
    width: 184px;
 font-size:18px; padding-right:5px;" required><span style="   font-size: 18px;
    width: 60px;
    display: inline-block;
    margin-left: 29px; text-align:right
">טלפון</span>
</div>

<div style = "margin-bottom:20px;">
<input type="text" style="
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    text-align: right;
    width: 184px;
 font-size:18px; padding-right:5px;" required><span style="   font-size: 18px;
    width: 60px;
    display: inline-block;
    margin-left: 29px; text-align:right
">תקציב</span>
</div>

<button id="update" style="    
    display: block;
    outline: 0;
    background-color: transparent;
    border: 1px solid #e74b46;
    padding: 10px 30px;
    margin: 0 auto;
    font-size: 18px;
    width: 63%;
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 20px;
    ">עדכן נתונים והמשך</button>

</form>

<h2 id = "cancel" style = "text-align:center; cursor:pointer;">ביטול</h2>

</div>