<script> 					

$(document).ready(function(){

	var userId = firebase.auth().currentUser.uid;
					
					 firebase.database().ref('users/' + userId).once('value').then(function(snapshot){
					 				 		name = snapshot.child('HusbandName').val();
											img = snapshot.child('Photo').val();
											$('#name').html(name);
											$('#profimg').attr("src", img);
											$('#husn').attr("value", name);
											var theText = snapshot.child('AreaHusband').val();
$("#husarea option:contains(" + theText + ")").attr('selected', 'selected');
											var theText = snapshot.child('AreaWife').val();
$("#wifearea option:contains(" + theText + ")").attr('selected', 'selected');
					 
					 });
					 
					 check();


					 

});
					 </script>
					 

<ul id = "det">
<li id = "signout" style = "cursor:pointer">התנתק</li>
<li>עזרה</li>
<li >שלום <span id = "name"></span></li>
<li style = "    margin: 0;
    position: relative;
    top: 11px;"><img src = "stylesheets/images/full-circle.png" style = "border-radius: 100%;
    widtH: 36px;
    height: 36px;" id = "profimg"/></li>
</ul>
<div id = "content">
<div id="order" style="position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.53);z-index: 1000;display: none;">
<div id="final-order" style="
    height: 210px;
    width: 50%;
    border: 0px solid black;
    margin: 15px auto;
    background-color: white;
    border-radius: 7px;
    position: relative;
    top: calc(50% - 298.5px);
    padding-top: 50px;
">
<h2 style="text-align:center">מהו המחיר הסופי שסגרתם עם הספק?</h2>
<div style="text-align: center;margin: 15px 0px;">
<h2 style="
    display: inline-block;
    font-size: 35px !important;
    vertical-align: bottom;
">₪</h2><input type="text" placeholder="" value="" id="last-price" class="regtxt" style="
    display: inline-block !important;
    width: 16%;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    font-size: 25px;
    text-align: center;
    float:none;
    margin: 0;
    ">
	</div>

 <form id="upl2" onsubmit="return false;" style="
    text-align: center;
">
 
    <button style="
    margin: 0 auto;
    display: block;
    width: 47%;
    height: 49px;
    border: 0;
    background: #e84b41;
    border-radius: 5px;
    color: white;
    " id="save2">שמור</button>
 </form>
</div>

</div>
<div id = "register" style = "position: fixed; 
top: 0px; left: 0px;
 width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.53); 
z-index: 1000; display: none;">
<div id = "registercontent" style = "        height: 550px;
    width: 584px;
    border: 0px solid black;
    margin: 0 auto;
    background-color: white;
    border-radius: 7px;
    position: relative;
    top: calc(50% - 298.5px);
    padding-top: 47px;

">
<h2 style = "text-align:center">שמנו לב שחסרים לך פרטים!</h2>

<input type = "text" placeholder = "שם הבעל" value = "" id = "husn" class = "regtxt"/>
<input type = "text" placeholder = "פלאפון הבעל" id = "husp" class = "regtxt"/>
<input type = "text" placeholder = "שם האישה" id = "wifen" class = "regtxt"/>
<input type = "text" placeholder = "פלאפון האישה" id = "wifep" class = "regtxt"/>
<select id="husarea" class = "regtxt" dir = "rtl"><option value="">איזור מגורים הבעל</option><option value="25"  style="font-weight: bold; color: red">צפון</option><option value="5"  style="font-weight: bold; color: black">חיפה והסביבה</option><option value="6"  style="font-weight: bold; color: black">קריות והסביבה</option><option value="68"  style="font-weight: bold; color: black">עכו - נהריה והסביבה</option><option value="20"  style="font-weight: bold; color: black">גליל עליון</option><option value="14"  style="font-weight: bold; color: black">הכנרת והסביבה</option><option value="53"  style="font-weight: bold; color: black">כרמיאל והסביבה</option><option value="91"  style="font-weight: bold; color: black">נצרת - שפרעם והסביבה</option><option value="96"  style="font-weight: bold; color: black">ראש פינה החולה</option><option value="74"  style="font-weight: bold; color: black">גליל תחתון</option><option value="83"  style="font-weight: bold; color: black">הגולן</option><option value="101"  style="font-weight: bold; color: red">חדרה זכרון ועמקים</option><option value="67"  style="font-weight: bold; color: black">זכרון וחוף הכרמל</option><option value="15"  style="font-weight: bold; color: black">חדרה והסביבה</option><option value="16"  style="font-weight: bold; color: black">קיסריה והסביבה</option><option value="87"  style="font-weight: bold; color: black">יקנעם טבעון והסביבה</option><option value="93"  style="font-weight: bold; color: black">עמק בית שאן</option><option value="13"  style="font-weight: bold; color: black">עפולה והעמקים</option><option value="97"  style="font-weight: bold; color: black">רמת מנשה</option><option value="19"  style="font-weight: bold; color: red">השרון</option><option value="17"  style="font-weight: bold; color: black">נתניה והסביבה</option><option value="18"  style="font-weight: bold; color: black">רמת השרון - הרצליה</option><option value="42"  style="font-weight: bold; color: black">רעננה - כפר סבא</option><option value="54"  style="font-weight: bold; color: black">הוד השרון והסביבה</option><option value="81"  style="font-weight: bold; color: black">דרום השרון</option><option value="70"  style="font-weight: bold; color: black">צפון השרון</option><option value="2"  style="font-weight: bold; color: red">מרכז</option><option value="1"  style="font-weight: bold; color: black">תל אביב</option><option value="9"  style="font-weight: bold; color: black">ראשון לציון והסביבה</option><option value="11"  style="font-weight: bold; color: black">חולון - בת ים</option><option value="3"  style="font-weight: bold; color: black">רמת גן - גבעתיים</option><option value="4"  style="font-weight: bold; color: black">פתח תקווה והסביבה</option><option value="71"  style="font-weight: bold; color: black">ראש העין והסביבה</option><option value="10"  style="font-weight: bold; color: black">בקעת אונו</option><option value="51"  style="font-weight: bold; color: black">רמלה - לוד</option><option value="78"  style="font-weight: bold; color: black">בני ברק - גבעת שמואל</option><option value="92"  style="font-weight: bold; color: black">עמק  איילון</option><option value="98"  style="font-weight: bold; color: black">שוהם והסביבה</option><option value="8"  style="font-weight: bold; color: black">מודיעין והסביבה</option><option value="100"  style="font-weight: bold; color: red">אזור ירושלים</option><option value="7"  style="font-weight: bold; color: black">ירושלים</option><option value="69"  style="font-weight: bold; color: black">בית שמש והסביבה</option><option value="86"  style="font-weight: bold; color: black">הרי יהודה - מבשרת והסביבה</option><option value="90"  style="font-weight: bold; color: black">מעלה אדומים והסביבה</option><option value="75"  style="font-weight: bold; color: red">יהודה שומרון ובקעת הירדן</option><option value="88"  style="font-weight: bold; color: black">ישובי דרום ההר</option><option value="45"  style="font-weight: bold; color: black">ישובי שומרון</option><option value="80"  style="font-weight: bold; color: black">גוש עציון</option><option value="79"  style="font-weight: bold; color: black">בקעת הירדן וצפון ים המלח</option><option value="77"  style="font-weight: bold; color: black">אריאל וישובי יהודה</option><option value="41"  style="font-weight: bold; color: red">שפלה מישור חוף דרומי</option><option value="12"  style="font-weight: bold; color: black">נס ציונה - רחובות</option><option value="21"  style="font-weight: bold; color: black">אשדוד - אשקלון והסביבה</option><option value="52"  style="font-weight: bold; color: black">גדרה - יבנה והסביבה</option><option value="72"  style="font-weight: bold; color: black">קרית גת והסביבה</option><option value="99"  style="font-weight: bold; color: black">שפלה</option><option value="43"  style="font-weight: bold; color: red">דרום</option><option value="22"  style="font-weight: bold; color: black">באר שבע והסביבה</option><option value="24"  style="font-weight: bold; color: black">אילת וערבה</option><option value="89"  style="font-weight: bold; color: black">ישובי הנגב</option><option value="85"  style="font-weight: bold; color: black">הנגב המערבי</option><option value="82"  style="font-weight: bold; color: black">דרום ים המלח</option></select>	
<select id="wifearea" class = "regtxt" dir = "rtl"><option value="">איזור מגורים האישה</option><option value="25"  style="font-weight: bold; color: red">צפון</option><option value="5"  style="font-weight: bold; color: black">חיפה והסביבה</option><option value="6"  style="font-weight: bold; color: black">קריות והסביבה</option><option value="68"  style="font-weight: bold; color: black">עכו - נהריה והסביבה</option><option value="20"  style="font-weight: bold; color: black">גליל עליון</option><option value="14"  style="font-weight: bold; color: black">הכנרת והסביבה</option><option value="53"  style="font-weight: bold; color: black">כרמיאל והסביבה</option><option value="91"  style="font-weight: bold; color: black">נצרת - שפרעם והסביבה</option><option value="96"  style="font-weight: bold; color: black">ראש פינה החולה</option><option value="74"  style="font-weight: bold; color: black">גליל תחתון</option><option value="83"  style="font-weight: bold; color: black">הגולן</option><option value="101"  style="font-weight: bold; color: red">חדרה זכרון ועמקים</option><option value="67"  style="font-weight: bold; color: black">זכרון וחוף הכרמל</option><option value="15"  style="font-weight: bold; color: black">חדרה והסביבה</option><option value="16"  style="font-weight: bold; color: black">קיסריה והסביבה</option><option value="87"  style="font-weight: bold; color: black">יקנעם טבעון והסביבה</option><option value="93"  style="font-weight: bold; color: black">עמק בית שאן</option><option value="13"  style="font-weight: bold; color: black">עפולה והעמקים</option><option value="97"  style="font-weight: bold; color: black">רמת מנשה</option><option value="19"  style="font-weight: bold; color: red">השרון</option><option value="17"  style="font-weight: bold; color: black">נתניה והסביבה</option><option value="18"  style="font-weight: bold; color: black">רמת השרון - הרצליה</option><option value="42"  style="font-weight: bold; color: black">רעננה - כפר סבא</option><option value="54"  style="font-weight: bold; color: black">הוד השרון והסביבה</option><option value="81"  style="font-weight: bold; color: black">דרום השרון</option><option value="70"  style="font-weight: bold; color: black">צפון השרון</option><option value="2"  style="font-weight: bold; color: red">מרכז</option><option value="1"  style="font-weight: bold; color: black">תל אביב</option><option value="9"  style="font-weight: bold; color: black">ראשון לציון והסביבה</option><option value="11"  style="font-weight: bold; color: black">חולון - בת ים</option><option value="3"  style="font-weight: bold; color: black">רמת גן - גבעתיים</option><option value="4"  style="font-weight: bold; color: black">פתח תקווה והסביבה</option><option value="71"  style="font-weight: bold; color: black">ראש העין והסביבה</option><option value="10"  style="font-weight: bold; color: black">בקעת אונו</option><option value="51"  style="font-weight: bold; color: black">רמלה - לוד</option><option value="78"  style="font-weight: bold; color: black">בני ברק - גבעת שמואל</option><option value="92"  style="font-weight: bold; color: black">עמק  איילון</option><option value="98"  style="font-weight: bold; color: black">שוהם והסביבה</option><option value="8"  style="font-weight: bold; color: black">מודיעין והסביבה</option><option value="100"  style="font-weight: bold; color: red">אזור ירושלים</option><option value="7"  style="font-weight: bold; color: black">ירושלים</option><option value="69"  style="font-weight: bold; color: black">בית שמש והסביבה</option><option value="86"  style="font-weight: bold; color: black">הרי יהודה - מבשרת והסביבה</option><option value="90"  style="font-weight: bold; color: black">מעלה אדומים והסביבה</option><option value="75"  style="font-weight: bold; color: red">יהודה שומרון ובקעת הירדן</option><option value="88"  style="font-weight: bold; color: black">ישובי דרום ההר</option><option value="45"  style="font-weight: bold; color: black">ישובי שומרון</option><option value="80"  style="font-weight: bold; color: black">גוש עציון</option><option value="79"  style="font-weight: bold; color: black">בקעת הירדן וצפון ים המלח</option><option value="77"  style="font-weight: bold; color: black">אריאל וישובי יהודה</option><option value="41"  style="font-weight: bold; color: red">שפלה מישור חוף דרומי</option><option value="12"  style="font-weight: bold; color: black">נס ציונה - רחובות</option><option value="21"  style="font-weight: bold; color: black">אשדוד - אשקלון והסביבה</option><option value="52"  style="font-weight: bold; color: black">גדרה - יבנה והסביבה</option><option value="72"  style="font-weight: bold; color: black">קרית גת והסביבה</option><option value="99"  style="font-weight: bold; color: black">שפלה</option><option value="43"  style="font-weight: bold; color: red">דרום</option><option value="22"  style="font-weight: bold; color: black">באר שבע והסביבה</option><option value="24"  style="font-weight: bold; color: black">אילת וערבה</option><option value="89"  style="font-weight: bold; color: black">ישובי הנגב</option><option value="85"  style="font-weight: bold; color: black">הנגב המערבי</option><option value="82"  style="font-weight: bold; color: black">דרום ים המלח</option></select>	
<input type = "text" placeholder = "תאריך מתוכנן לחתונה" id = "date" class = "regtxt" style = "    margin: auto;
    float: none; margin-bottom:15px;"/>
	<h2 style = "text-align:center">ומה עם תמונת פרופיל?</h2>
	<form id = "upl" onsubmit = "return false;">
	<button style = "      border: 0;
    padding: 16px 52px;
    background-color: #e54d4c;
    margin: 0 auto;
    display: block;
    margin-top: 23px;" id = "upload">העלה תמונה!</button>
	<input style = "    margin: 0 auto;
    display: block;
    margin-top: 23px; display:none;" type = "file" id = "fileupload"/>
	<button style = "    margin: 50px auto;
    display: block;
    width: 47%;
    height: 49px;
    border: 0;
    background-color: #438643;
    border-radius: 5px;" id = "save">לשמור ולהתחיל!</button>
	</form>
</div>

</div>
<h2 style = "    margin-top:50px;
margin-bottom:50px;
    text-align: center;     position: relative;" class = "halltxt">הוצאות אולם אירועים</h2>
	<div class = "divit">
<div style = " 
    border-radius: 10px;
    height: 384px;
    width: 600px;
    margin: 0 auto;
    display: block;
    position: relative;" id = "hall" class = "divit2">
	<img src = "stylesheets/images/close.png" class = "xtoclose" s/>
	<div style = "    
    height: 162px;
    width: 600px;
    margin: 0 auto;
    display: block; padding-top:30px;">	
	<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >עלות מנה</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="500" data-slider-step="1" data-slider-value="0"  class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px; float:left;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">500</span></div>
	</div>
	<div style = "     border-top: 2px solid #a7a9ac;
    height: 192px;
    width: 600px;
    margin: 0 auto;
    display: block; padding-top:30px; position:relative;" id = "guest">
		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >מספר מוזמנים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-min="0" data-slider-max="800" data-slider-step="1" data-slider-value="0"  id = "sliderit" />
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">800</span></div>
	</div>
	</div>
	</div>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >תאורה, הגברה ואקו״ם</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2500" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2500</span></div>
	</div>
	</div>
		<div class = "divit">
		<div style = "  
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px; margin:0px auto" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >עיצוב אולם</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="6000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
	
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">6000</span></div>
	</div>
	</div>
	
	
	<h2 style = "    margin-top:50px;
margin-bottom:50px;
    text-align: center;     position: relative;" class = "halltxt">צילום</h2>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >צילום - כללי</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2500" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2500</span></div>
	</div>
	</div>
		<div class = "divit">
		<div style = "  
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px; margin:0px auto" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >קליפ חתונה</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="6000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
	
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">6000</span></div>
	</div>
	</div>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >עיצוב אלבומים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2500" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2500</span></div>
	</div>
	</div>
	
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >סטילס</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="10100" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">10100</span></div>
	</div>
	</div>
			<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >מגנטים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2000</span></div>
	</div>
	</div>
	
		<h2 style = "    margin-top:50px;
margin-bottom:50px;
    text-align: center;     position: relative;" class = "halltxt">מוזיקה</h2>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >תקליטן/DJ</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="8000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">8000</span></div>
	</div>
	</div>
		<div class = "divit">
		<div style = "  
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px; margin:0px auto" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >מעגלי מתופפים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="6000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
	
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">6000</span></div>
	</div>
	</div>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >להקה/זמרים/נגנים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2500" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2500</span></div>
	</div>
	</div>
	
	
			<h2 style = "    margin-top:50px;
margin-bottom:50px;
    text-align: center;     position: relative;" class = "halltxt">אקסטרות</h2>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >עיצוב האולם חיצוני</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="8000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">8000</span></div>
	</div>
	</div>
		<div class = "divit">
		<div style = "  
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px; margin:0px auto" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >הסעות/לימוזינה/רכב יוקרה</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="6000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
	
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">6000</span></div>
	</div>
	</div>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >אישורי השתתפות</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2500" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2500</span></div>
	</div>
	</div>
			<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >אטרקציות וגימיקים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2500" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2500</span></div>
	</div>
	</div>
					<h2 style = "    margin-top:50px;
margin-bottom:50px;
    text-align: center;     position: relative;" class = "halltxt">לחתן</h2>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >תכשיטים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="8000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">8000</span></div>
	</div>
	</div>
		<div class = "divit">
		<div style = "  
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px; margin:0px auto" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >נעליים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="6000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
	
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">6000</span></div>
	</div>
	</div>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >חליפת חתן</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2500" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2500</span></div>
	</div>
	</div>
	

				<h2 style = "    margin-top:50px;
margin-bottom:50px;
    text-align: center;     position: relative;" class = "halltxt">לכלה</h2>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >תכשיטים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="8000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">8000</span></div>
	</div>
	</div>
		<div class = "divit">
		<div style = "  
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px; margin:0px auto" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >שמלת כלה</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="10000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
	
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">10000</span></div>
	</div>
	</div>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >נעליים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2500" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2500</span></div>
	</div>
	</div>
	
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >מעצבי שיער</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="8000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">8000</span></div>
	</div>
	</div>
		<div class = "divit">
		<div style = "  
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px; margin:0px auto" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >זר כלה</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="6000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
	
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">6000</span></div>
	</div>
	</div>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >איפור</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2500" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2500</span></div>
	</div>
	</div>
					<h2 style = "    margin-top:50px;
margin-bottom:50px;
    text-align: center;     position: relative;" class = "halltxt">הכנות לחתונה</h2>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >רישום לנישואין ברבנות</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="8000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">8000</span></div>
	</div>
	</div>
		<div class = "divit">
		<div style = "  
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px; margin:0px auto" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >רב/עורך חופה</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="6000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
	
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">6000</span></div>
	</div>
	</div>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >מתנות לאורחים</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="2500" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">2500</span></div>
	</div>
	</div>
	
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >טבעות</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="8000" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">8000</span></div>
	</div>
	</div>
		<div class = "divit">
		<div style = "  
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px; margin:0px auto" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >הזמנות</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="600" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
	
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">600</span></div>
	</div>
	</div>
		<div class = "divit">
	<div style = "    
    border-radius: 10px;
    height: 162px;
    width: 600px;
    margin: 30px auto;
    display: block; padding-top:30px;" class = "divit2">
		<img src = "stylesheets/images/close.png" class = "xtoclose" />

		<h2 class = "countit">
	</h2>
	<h2 style = "   
    margin-bottom: 30px;" class = "divith2" >אלכוהול</h2>
	<div style = "    width: 448px;
    display: block;
    margin: 0 auto;">
	<input type = "text" data-slider-id=''  data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="0" id = "" class = "myownslider"/>
		<span style = "    position: relative;
    top: 8px;
    left: 7px;
    font-size: 19px;" class = "num">0</span>
	<span style = "    float: right;
    position: relative;
    top: 8px;
    font-size: 19px;
" class = "num">50</span></div>
	</div>
	</div>

	
	
	<div class = "menuchooser">
	<span style = "" class = "selected"></span>
	<span style = "" class = "unselected"></span>
		<span style = "" class = "unselected"></span>
			<span style = "" class = "unselected"></span>
				<span style = "" class = "unselected"></span>
					<span style = "" class = "unselected"></span>
						<span style = "" class = "unselected"></span>
	</div>
		</div>
	<div class = "menuchoosertxt">
	<span style = "" class = "selectedtxt">אולם אירועים</span>
	<span style = "" class = "unselectedtxt">צילום</span>
	<span style = "" class = "unselectedtxt">מוזיקה</span>
	<span style = "" class = "unselectedtxt">אקסטרות</span>
	<span style = "" class = "unselectedtxt">לחתן</span>
	<span style = "" class = "unselectedtxt">לכלה</span>
	<span style = "" class = "unselectedtxt">הכנות</span>
	
	</div>
	
</div>
<div id = "sidebar" style = "">
<div style = "     position: absolute;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid gray;
"><h2 style = "    text-align: center;
    font-size: 17px;
    margin-top: 10px;
" id = "resupmsg" dir = "rtl"></h2></div>
<ul id = "res">
<!--<li>
<div style = "    width: 43%;
    float: right;">
<img class = "photo" style = "        height: 81px;
    width: 108px;
    float: right;
    margin-right: 20px;
    margin-top: 18px;" />
<br />
<button style = "     background-color: white;
    border: 1px solid gray;
    border-radius: 41px;
    height: 34px;
    width: 111px;
    color: gray;
    outline: 0;
    margin-top: 14px;
    position: relative;
    right: 20px;
    float: right;
" class = "contact">צור קשר</button>
<img src = "stylesheets/tick-inside-a-circle.png" style = "position: absolute;
    right: 61px;
    bottom: 36px;
    display:none;" />
	</div>
	<div style = "width:56%"><h2 style = "text-align: right;
    display: block;">גם הפאקן</h2>
	
		<img src = "stylesheets/stars.png" id = "stars"/>
		<p style = "    margin: 0;
    font-size: 13px;
    text-align: right;
    color: #9ba0a5;
    width: 85%;
    margin-left: auto;">לורם איפסום דולור סיט אמט, קונסק־
טורר אדיפיסינג אלית להאמית קרהשק
מנורךגולר מונפרר סוברט לורם שבצק
יהול, לכנוץ בעריר גק ליץ...
</p>
	</div>
</li> -->
</ul>
</div>
<div id = "container" style = "">
<div style = "       width: 100%;
    height: 38px;
    background-color: rgb(75, 60, 60);
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
	z-index:10;
	display:none;
	
" id = "conc">
<h3 style = "             color: white;
    font-weight: normal;
    font-size: 18px;
    float: right;
    margin: 10px;
    margin-right: 50px;
" id = "plannedh3"> <span id = "plannedtotal" style = "display: inline-block;
    color: white;
    font-weight: bold;
    margin-right: 10px;"> </span> <span id = "totalsecond">:סה"כ תקציב מתוכנן</span></h3>
<h3 style = "               color: white;
    font-weight: normal;
    font-size: 18px;
    margin: 10px;
    float: left;
    margin-left: 110px;
" id = "plannedh3"> <span id = "plannedtotal2" style = "display: inline-block;
    color: white;
    font-weight: bold;
    margin-right: 10px;"> </span> <span id = "">:סה"כ התחייבות</span></h3>
	<div style = "            display: table;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    background-color: #595959;
    text-align: center;
    border-radius: 100%;
    bottom: 10px;
    position: absolute;
	transition: transform 0.5s;
	left:0;
	right:0;
	cursor:pointer; 
" id = "uparrow">
	<img src = "stylesheets/images/arrow-down-sign-to-navigate.png" style = "         width: 19px;
    transform: rotate(180deg);
    position: relative;
    margin-top: 7px;
	" />
	</div>

</div>
<div id = "concbelow" style = "    height: 0;
    background-color: #eaeaea;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 0; ;
 ">
 <h2 style = "        margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #4b3c3c;
" class = "">אולם אירועים</h2>
<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">אולם אירועים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">תאורה, הגברה ואקו"ם</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">עיצוב אולם</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>

	 <h2 style = "        margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #4b3c3c;
" class = "">צילום</h2>
<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">צילום - כללי</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2"> 400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">קליפ חתונה</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">עיצוב אלבומים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
		<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">סטילס</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
		<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">מגנטים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
		 <h2 style = "        margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #4b3c3c;
" class = "">מוזיקה</h2>
<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">DJ/תקליטן</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">מעגלי מתופפים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">להקה/זמרים/נגנים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
			 <h2 style = "        margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #4b3c3c;
" class = "">אקסטרות</h2>
<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">עיצוב האולם חיצוני</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">הסעות/לימוזינה/רכב יוקרה</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2"> 400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">אישורי השתתפות</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
		<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">אטרקציות וגימיקים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
				 <h2 style = "        margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #4b3c3c;
" class = "">לחתן</h2>
<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">תכשיטים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">נעליים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">חליפת חתן</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
					 <h2 style = "        margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #4b3c3c;
" class = "">לכלה</h2>
<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">תכשיטים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">שמלת כלה</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
     font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">נעליים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
		<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">מעצבי שיער</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
		<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">זר כלה</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
			<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">איפור</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
						 <h2 style = "        margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #4b3c3c;
" class = "">הכנות לחתונה</h2>
<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">רב/עורך חופה</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
	<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">מתנות לאורחים</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
		<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">טבעות</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
		<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">הזמנות</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>
			<div style = "    position: relative;
    margin: 0 auto;
    display: block;
    width: 900px; margin-bottom:30px
" >
	<h3  class = "supplierborder">אלכוהול</h3>
			<span style = "    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
" class = "planned">400 ש"ח</span>
			<span style = "    position: absolute;
    left: 0;
    top: 6px;
    font-size: 18px;
" class = "planned2">400 ש"ח</span>
	</div>




	


</div>
</div>
<script src="js/profileLoad.js">
</script>
<script>
function check(){
			 									var checkednow = false;;
	var plannedtotal = 0;
										 firebase.database().ref('users/' + userId + '/CurrentWed').once('value').then(function(snapshot){
										 snapshot.forEach(function(obj,i){
									if(obj.val() != "")
										checkednow = true;
								});
													 if(checkednow == true)
						$('#conc').css('display', 'block');
						$('.planned').eq(0).html(snapshot.child('hall').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(1).html(snapshot.child('light').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(3).html(snapshot.child('generalphoto').val().split(',').slice(-1)[0] + ' ש\"ח');
						
						$('.planned').eq(2).html(snapshot.child('design').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(4).html(snapshot.child('wedmovie').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(5).html(snapshot.child('album').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(6).html(snapshot.child('stealth').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(7).html(snapshot.child('magnet').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(8).html(snapshot.child('dj').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(9).html(snapshot.child('drums').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(10).html(snapshot.child('band').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(11).html(snapshot.child('halloutside').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(12).html(snapshot.child('limo').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(13).html(snapshot.child('cert').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(14).html(snapshot.child('attr').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(15).html(snapshot.child('jewe').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(16).html(snapshot.child('shoes').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(17).html(snapshot.child('hus').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(18).html(snapshot.child('jewewife').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(19).html(snapshot.child('dress').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(20).html(snapshot.child('shoeswife').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(21).html(snapshot.child('hairdes').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(22).html(snapshot.child('wifeflow').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(23).html(snapshot.child('makeup').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(24).html(snapshot.child('rab').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(25).html(snapshot.child('gifts').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(26).html(snapshot.child('ring').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(27).html(snapshot.child('invites').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned').eq(28).html(snapshot.child('alc').val().split(',').slice(-1)[0] + ' ש\"ח');
											

											$('.planned2').eq(0).html(snapshot.child('hall').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(1).html(snapshot.child('light').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(3).html(snapshot.child('generalphoto').val().split(',').slice(-1)[0] + ' ש\"ח');
						
						$('.planned2').eq(2).html(snapshot.child('design').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(4).html(snapshot.child('wedmovie').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(5).html(snapshot.child('album').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(6).html(snapshot.child('stealth').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(7).html(snapshot.child('magnet').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(8).html(snapshot.child('dj').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(9).html(snapshot.child('drums').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(10).html(snapshot.child('band').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(11).html(snapshot.child('halloutside').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(12).html(snapshot.child('limo').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(13).html(snapshot.child('cert').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(14).html(snapshot.child('attr').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(15).html(snapshot.child('jewe').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(16).html(snapshot.child('shoes').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(17).html(snapshot.child('hus').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(18).html(snapshot.child('jewewife').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(19).html(snapshot.child('dress').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(20).html(snapshot.child('shoeswife').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(21).html(snapshot.child('hairdes').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(22).html(snapshot.child('wifeflow').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(23).html(snapshot.child('makeup').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(24).html(snapshot.child('rab').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(25).html(snapshot.child('gifts').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(26).html(snapshot.child('ring').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(27).html(snapshot.child('invites').val().split(',').slice(-1)[0] + ' ש\"ח');
						$('.planned2').eq(28).html(snapshot.child('alc').val().split(',').slice(-1)[0] + ' ש\"ח');

					 }).then(function(){
					 						$('.planned').each(function(i, obj2){
							if($(obj2).html() == ' ש\"ח')
									$(obj2).html('לא נבחר ספק');
							if($(obj2).html().includes('|'))
							{
								$(obj2).html($(obj2).html().split('|')[0] + " ש\"ח");
								}
								if(	$(obj2).html() != 'לא נבחר ספק')
						plannedtotal += parseInt($(obj2).html());
						});
						plannedtotal2 = 0;
											 						$('.planned2').each(function(i, obj2){
							if($(obj2).html() == ' ש\"ח')
									$(obj2).html('לא נבחר ספק');
							if($(obj2).html().includes('|'))
							{
								$(obj2).html($(obj2).html().split('|')[1].split(':')[0] + " ש\"ח");
								}
								if(	$(obj2).html() != 'לא נבחר ספק')
						plannedtotal2 += parseInt($(obj2).html());
						});
						
						$('#plannedtotal').html("₪" + plannedtotal);
								$('#plannedtotal2').html("₪" + plannedtotal2);
				
					 
					 }); 
					 
	
}
	

</script>