
<div id = "regform">
<input type = "email" placeholder = "כתובת המייל שלך" id = "emailreg" class = "regtxt"/>
<input type = "password" placeholder = "הסיסמא שלך" id = "passreg" class = "regtxt"/>
<input type = "password" placeholder = "חזור על הסיסמא שלך" id = "passregrep" class = "regtxt"/>
<div id="error-result">הערה</div>
<input  id="validate" type = "button" value = "הירשם"/>
	<div class="backbutton">חזור אחורה</div>
    
</div>
<script>
   
$("#validate").on('click', e =>{
	const auth = firebase.auth();
	const email = document.getElementById('emailreg').value;
	const pass = document.getElementById('passreg').value;

	const promise = auth.createUserWithEmailAndPassword(email,pass);
		promise.catch(e=>{
            if(e.code){
                $("#error-result").css("display","table");
                switch(e.code){
                    case 'auth/invalid-email':
                    $("#error-result").text("אימייל לא תקין");
                    break;
                    case 'auth/weak-password':
                    $("#error-result").text("סיסמה חלשה מדי");
                    break;
                    case 'auth/email-already-in-use':
                    $("#error-result").text("אימייל כבר בשימוש");
                    break;
                    default:
                    $("#error-result").text("קרתה שגיאה");
                }
                console.log(e.code);
            }
        });
        promise.then(function(){
			 			 	 var userId = firebase.auth().currentUser.uid;
		firebase.database().ref('users').child(userId);
	 firebase.database().ref('users/' + userId).set({
    email: email,
	HusbandName: '',
	WifeName: '',
	HusbandPhone: '',
	WifePhone: '',
	AreaHusband: '',
	AreaWife: '',
	Date: '',
	Photo: '',
	HusbandFaceBook: '',
	WifeFaceBook: ''
	
	
  }).then(function(){
	  		firebase.database().ref('users').child('CurrentWed');
	 firebase.database().ref('users/' + userId + '/CurrentWed').set({
    hall: '',
	design: '',
	wedmovie: '',
	album: '',
	stealth: '',
	magnet: '',
	dj: '',
	drums: '',
	band: '',
	halloutside: '',
	limo: '',
	cert: '',
	attr: '',
	jewe: '',
	shoes: '',
	hus: '',
	jewewife: '',
	dress: '',
	shoeswife: '',
	wifeflow: '',
	hairdes: '',
	makeup: '',
	marriage: '',
	rab: '',
	gifts: '',
	ring: '',
	invites: '',
	alc: '',
		 light: '',
 generalphoto: ''



	
	
  }).then(function(){
	  
	  window.location = "profile";
	  
  });
	  
  });
			
		 });
		 


});
/*
firebase.auth().onAuthStateChanged(firebaseUser =>{
    if(firebaseUser){
        console.log(firebaseUser)
    }else{
        console.log("user already log in")
    }
})
*/
    </script>