	        body{
				    margin: 0;
                    font-family: heb;
                    background: url("images/bghome.png") no-repeat;
                    background-size: 100%;
				}

    
    #register{
        position: fixed; 
        top: 0px; 
        left: 0px;
        width: 100%;
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.53); 
        z-index: 1000; display: none;
    }
    #regform #error-result{
    padding: 10px;
    border-radius: 2px;
    width: 74%;
    margin: 16px auto;
    text-align: right;
    color: red;
    font-family: heb;
    display:none;
    }
    #regform #validate{
    padding: 15px;
    border: 0;
    margin-left: auto;
    font-family: heb;
    outline: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    margin-right: 64px;
    display: table;

    }
    #regform .backbutton{
    margin: 0;
    display: inline-block;
    margin-left: 59px;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    float: left;
    position: relative;
    bottom: 37px;

    }
    #registercontent{
        height: 510px;
        width: 584px;
        border: 0px solid black;
        margin: 0px auto;
        background-color: white;
        border-radius: 7px;
        position: relative;
        top: calc(50% - 250.5px);
    }
    #regdata{
    height: 57px;
    background-color: #e74b46;
    border-radius: 7px 7px 0 0;
    padding: 2px;
    margin-bottom: 18px;
    position: relative;

    }
    .regdata-h2{
         text-align: center;
    color: white;
    margin-top: 10px;
    font-weight: normal;
    }
    .regbuttons{
        margin-top:0;
    }
    .regbuttons img{
             width: 71px;
            position: absolute;
            right: 10px;
            top: -3px;
    }
    #line2{
    color: #889097;
    font-size: 13px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;

    }
    #have-acc{
        width:60%; display:block;     margin: 46px auto;
    margin-bottom: 0;
    }
    #have-acc h2{
        font-size: 15px;
    display: table;
    float: right;
    color: #797471;
    font-weight: normal;
    }
    #have-acc #login{
width: 130px;
    height: 43px;
    border: 2px solid #e74b46;
    background-color: white;
    font-size: 20px;
    outline: 0;
    position: relative;
    bottom: 11px;
    border-radius: 50px;
    font-family: heb;
    }
    #logo{
    margin: 0;
    font-size: 29px;
    float: right;
    margin-right: 37px;
    margin-top: 18px;   
    font-family: main;
    }
    #already-log{
        position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 15px;
    }
    #already-log span{
        text-decoration:underline;
         cursor:pointer;
    }

				h2{
					margin:0;
					
				}
			
				#header{
					height:73px;
					width:100%;
					
				}
				
				#header li{
					
					
					
				}
				
				#header ul{
					 display: table;
    padding: 0;
    margin: 0;
	margin-left:44px;

					
				}
				#header ul li{
				    display: inline-block;
    margin: 26px 10px;
					
				}
				
				#text{
					    text-align: center;
    width: 31%;
    margin: 156px auto;
					margin-bottom:0;
				}
				
				
				#regit{
    margin-top: 21px;
    width: 312px;
    height: 48px;
    border: 0;
    background-color: #e74b46;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    outline: 0;	
				}
				#regit strong{
                    font-size:19px;
                }
				@font-face{
					font-family:main;
					src: url(fonts/main.otf);
					
				}
								@font-face{
					font-family:heb;
					src: url(fonts/heb.ttf);
					
				}
				
				.regbuttons{
    margin: 23px auto;
    display: block;
    height: 49px;
    width: 60%;
    border: 0;
    background-color: #e2e0df;
    font-family: heb;
    position: relative;
    font-size: 19px;
	outline:0;
				}
				
#line::after {
    content: '';
    height: 1px;
    display: inline-block;
    width: 267px;
    background-color: #a8aaad;
    position: absolute;
    top: 17px;
    margin-left: 25px;
}
#line::before {
    content: '';
    height: 1px;
    display: inline-block;
    width: 267px;
    background-color: #a8aaad;
    position: absolute;
    top: 17px;
    left: 0px;
}
				
				#line{
					text-align:center;
					position:relative;
					font-weight:normal;
					
				}
				
				#line2::after{
			    content: '';
    height: 2px;
    display: block;
    margin: 0 auto;
    background-color: #a8aaad;
    margin-top: 20px;
    width: 100%;
					
				}
				
				
		
			.regtxt{
				    padding: 10px;
    border-radius: 2px;
    border: 1px solid black;
    width: 74%;
    margin: 16px auto;
    display: block;
    text-align: right;
    color: black;
    font-family: heb;
				
			}

li.enter {
    background: white;
    width: 105px;
    color: #e74b46;
    height: 30px;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-image: url("images/heartIcon.png");
    background-position: 84% 50%;
}

li.reg {
    background: #e74b46;
    width: 105px;
    color: white;
    height: 30px;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-image: url("images/penIcon.png");
    background-position: 84% 50%;
}
            
#log-form{
    
    height: 57px;
    background-color: #e74b46;
    border-radius: 7px 7px 0 0;
    padding: 2px;
    margin-bottom: 18px;
    position: relative;
}
#log-form #head{
     text-align: center;
    color: white;
    margin-top: 10px;
    font-weight: normal;
}
#log-form .social img{
    width: 71px;
    position: absolute;
    right: 10px;
    top: -3px;
}
#line span{
     border: 1px solid #a8aaad;
    border-radius: 50%;
    padding: 12px;
    width: 50px;
    margin: 0px  auto 0px;
    display: block;
    height: 50px;
    /* left: 20px; */
    position: relative;
    left: 0px;
    bottom: 6px;
    font-size: 21px;
}
@media screen and (max-width:1024px){
        #pc-warp{
            display:none;
        }

        body.detect{
            background: url("images/mobile-img.jpg") no-repeat;
            background-size: 100%;
        }
    }
    