h2{
					margin:0;
					
				}
				body{
					margin:0;
					font-family:heb;
    background-image: linear-gradient(to bottom, #FF9A9E 10%, #A18CD1 24.4%, #FCB69F 31%, #F6D365 47%, #FBC2EB 58%, #D4FC79 73%, #A6C0FE 100%);
				}
				#header{
					height:73px;
					width:100%;
					position:fixed;
					top:0;
								
				}
				
				#header li{
					
					
					
				}
				
				#det{
    display: table;
    padding: 0;
    margin: 0;
    margin-right: 44px;
    position: absolute;
    right: 0;
    top: 0;


					
				}
				#det li{
				    display: inline-block;
    margin: 26px 18px;
					
				}
				
				#text{
					    text-align: center;
    width: 31%;
    margin: 156px auto;
					margin-bottom:0;
				}
				
				
				#reg{
					    margin-top: 21px;
    width: 291px;
    height: 50px;
    border: 2px solid #afaaa8;
    background-color: white;
    font-size: 18px;
    outline:0
					
				}
				
				@font-face{
					font-family:main;
					src: url(fonts/main.otf);
					
				}
								@font-face{
					font-family:heb;
					src: url(fonts/heb.ttf);
					
				}
				
				
    .slider.slider-horizontal{
      width: 97%;
    display: block;
    margin-left: 6px;
	}


    .slider-selection {
      background: gray;
    }

    .slider-handle
    {
    background: white;
    border: 2px solid #ca5750;
    margin: -6px 0 0 -15px;
    height: 20px;
    width: 20px;


    }

  .slider-track{
	  height:3px !important;
	  background-color:#dcdcdc !important;
	  
  }
  
  .tooltip-inner{
	  padding: 3px 8px;
    color: black;
    text-align: center;
    background-color: #dfdfdf;
    border-radius: 9px;
    font-weight: bold;
    font-size: 16px;
    width: 45px;
	  
  }
  
  .slider .tooltip.top, .slider2 .tooltip.top{
	      margin-top: 22px;
    margin-left: -29px !important;
	
	  
  }
.tooltip.top .tooltip-arrow{
	
	    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #dfdfdf;
    transform: rotate(180deg);
}  

				.regbuttons{
    margin: 23px auto;
    display: block;
    height: 49px;
    width: 60%;
    border: 0;
    background-color: #e2e0df;
    font-family: heb;
    position: relative;
    font-size: 19px;
	outline:0;
				}
				
				#line::after{
    content: '';
    height: 2px;
    display: inline-block;
    width: 141px;
    background-color: #a8aaad;
    position: absolute;
    top: 17px;
    margin-left: 22px;
					
				}
												#line::before{
    content: '';
    height: 2px;
    display: inline-block;
    width: 141px;
    background-color: #a8aaad;
    position: absolute;
    top: 17px;
    left: 117px;
					
				}
				
				#line{
					text-align:center;
					position:relative;
					font-weight:normal;
					
				}
				
				#line2::after{
			    content: '';
    height: 2px;
    display: block;
    margin: 0 auto;
    background-color: #a8aaad;
    margin-top: 20px;
    width: 100%;
					
				}
				
				

.menuchooser{
    position: fixed;
    right: 30px;
    top: calc(50% - 86px);
    height: 172px;
    background-color: #b6b8ba;
    width: 1px;

	
}

.selected{
    height: 13px;
    width: 13px;
    background-color: #e74b46;
    border-radius: 100%;
    display: block;
    position: relative;
    right: 8.5px;
    margin-bottom: 20px;
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

	
}

.unselected{
	
    height: 6px;
    width: 6px;
    border-radius: 100%;
    display: block;
    position: relative;
    right: 5.5px;
    margin-bottom: 20px;
    border: 2px solid #a79495;
	
}

.menuchooser{
position: fixed;
    top: calc(50% - 88px);
    height: 190px;
    background-color: #b6b8ba;
    width: 1px;

	
}


.menuchoosertxt{
position: fixed;
    top: calc(50% - 96px);
    width: 97px;
	
}
.menuchoosertxt span{
	cursor:pointer;

	
}

.selectedtxt{
    font-size: 17px;
    font-weight: bold;
    text-align: right;
    display: block;
    margin-top: 5px;
    width: 100%;
    position: relative;
    right: 10px;
	color:#e74b46;
	
	}

.unselectedtxt{
    font-size: 16px;
    color: gray;
    text-align: right;
    display: block;
    margin: 6px;
    margin-right: 15px;
    margin-top: 8px;
    width: 100%;
    position: relative;
    right: 17px;

}

#sidebar{
    border-right: 2px solid #efefef;
    position: fixed;
    bottom: 0;
    width: 28%;
	height:calc(100vh);
	display:none;
	top:0;
	background-color:white;
	
}


.divit{
	width:100%;
	margin-left:auto;
}

.halltxt{
	width:100%;
	margin-left:auto;
	
	
}

#content{
	
}

#res li, #res2 li{
	    height: 182px;
    border-bottom: 2px solid gray;
	position:relative;
	
	
}

#res, #res2{
	
padding: 0;
    list-style: none;
    height: 100%;
    margin: 0;
    margin-top: 50px;
}

#stars{
    width: 59px;
    display: block;
    margin: 10px 0 10px auto;
	
	
}

#res li:last-of-type, #res2 li:last-of-type{
	
	    margin-bottom: 44px;
		border-bottom:0;
}

#sidebar::-webkit-scrollbar {
    width: 5px;
}
 
#sidebar::-webkit-scrollbar-track {
	background-color:gray;
	visibility:hidden;
}
 
#sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
background-color:#524b48;
}
#sidebar{
	    overflow: overlay;

	
}

.divit2, .divittest{
	background-color:white;
	position:relative;
	z-index:0;
	margin-top:0 !important;
	margin-bottom: 30px !important
	
}

			.regtxt{
				     padding: 10px;
    border-radius: 2px;
    border: 1px solid black;
    width: 40%;
    display: block;
    text-align: right;
    color: black;
    font-family: heb;
    margin: 16px 16px;
    float: right;
				
			}

			img{
				vertical-align:initial !important;
				
			}
			
			*{
				box-sizing:initial !important;
				
			}
			
			h2{
				font-size:21px !important;
					line-height:initial !important;
				
			}
			
			.divith2{
				display:table;
				position:relative;
				transition: left 0.5s;
				
			}
			
			
			.countit{
				    display: inline-block;
    position: absolute;
    top: 26px;
    left: 79px;
    font-size: 30px !important;
    font-weight: bold;
	color:#e84a48;
				
			}
			
			
			.xtoclose{
				
				position: absolute;
    width: 37px;
    right: 15px;
    top: 16px;
	cursor:pointer;
	transition: transform 0.5s
			}
			
			.supplierborder{
				
    display: table;
    margin: 0 auto;
    color: white;
    background-color: #928c8c;
    padding: 11px 0;
    border-radius: 15px;
    font-size: 20px;
    position: relative;
    width: 223px;
    text-align: center;

				
				
			}
						.supplierborder::after{
							    content: '';
    height: 1px;
    width: 700px;
    background-color: gray;
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 22px;
    right: 0;
    left: -258px;
    margin: 0 auto;
				
			}